<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/flexslider/flexslider.css">     
    <link rel="stylesheet" href="/assets/plugins/parallax-slider/css/parallax-slider.css">

    <!-- CSS Theme -->    
    <link rel="stylesheet" href="/assets/css/themes/default.css" id="style_color">

    <!-- setting page CSS -->
    <link rel="stylesheet" href="/stylesheets/setting_style.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/plugins/fancybox/source/jquery.fancybox.css">  

    <!-- CSS Page Style -->    
    <link rel="stylesheet" href="/assets/css/pages/portfolio-v1.css">
    
    <!-- CSS Theme -->    
    <link rel="stylesheet" href="/assets/css/themes/default.css" id="style_color">
    
    <!-- CSS Customization -->
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="/stylesheets/nation_photo_view_style.css">
</head>

<body>
    <div id="tooltip_country" class="hidden">
        <p><span id="county-label"></span></p>
    </div>
    <div id="tooltip_state" class="hidden">
        <p><span id="state-label"></span></p>
    </div>
    <script src="/javascripts/d3.v3.min.js"></script>
    <script src="/javascripts/topojson.v1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
    <script src="/javascripts/jquery.form.js"></script> 
    <script src="/javascripts/jquery.validate.min.js"></script>


<script>

  function see_nation_photo(m_Country) { 

    var f = document.getElementById('SeeWoldPhoto');

    f.nation_code.value = m_Country;
    f.user_id.value = '<%=page_info.id%>';
    f.user_name.value = '<%=page_info.name%>';

    f.action="/nation_photo_view";
    f.method="post";
    f.submit();

  }

  $('#SeeWoldPhoto').ready(function() {

    $('#SeeWoldPhoto').ajaxForm(function(reaults) { 


        $("#onephoto").empty(); // div 하위 요소 모두 제거

        if (reaults === null) {

           var div_data = $(" <p>국가 사진이 없습니다</p>");
           $(div_data).appendTo("#onephoto");

        } else {

            var div_data_header = $("<div class='headline'><h2 style='font-size:30px; color:#555; margin-top:10px;''><img src='http://graph.facebook.com/<%=user.id%>/picture'><b> <%=page_info.name%>의 국가별 사진보기</b></h2><h2><b><%=page_info.nation_name%>&nbsp; <img src='/images/bigFlag/<%=page_info.nation_name%>.png'></b></h2></div><div class='row'>");
            $(div_data_header).appendTo("#onephoto");


            $.each(reaults, function(i, data)
            {

              var div_data = $("<div class='col-md-4'><div class='view view-tenth'><img class='img-responsive' src='"+ data.img_src +"'/><div class='mask'><h2>"+ data.photo_date.toString().date("YYYY-MM-DD") +"</h2><p>"+ data.photo_text +"</p><a class='thumbnail fancybox-button zoomer info' data-rel='fancybox-button' href='"+ data.img_src +"'><i class='fa fa-search-plus'></i></a></div></div></div>");
              $(div_data).appendTo("#onephoto");

            });

            var div_data_footer = $("</div>");
            $(div_data_footer).appendTo("#onephoto");


        }

      });

  });

</script>


<!--=== Style Switcher ===-->    
<i class="style-switcher-btn fa fa-list-ul hidden-xs"></i>
<div class="style-switcher animated fadeInLeft">
    <div class="theme-close"><img src="/images/xicon.png"></div>
    <!--<div class="theme-heading">Theme Colors</div>-->
    <ul class="list-unstyled">
        <div class="headline"><h3><b>국가 목록</b></h3></div>

        <form id="SeeWoldPhoto">
          <input type="hidden" name="nation_code">
          <input type="hidden" name="nation_name">
          <input type="hidden" name="user_id">
          <input type="hidden" name="user_name">
            <% visit_nation_lists.forEach(function(item, index) { %>
            <button id="nation_list_button" onclick="see_nation_photo('<%=item.nation_code%>');"><p><%=item.nation_name%>&nbsp;</p><img src="/images/smallFlag/<%=item.nation_name%>.png"></button>
            <% }); %>
          </div>
        </form>
    </ul>
</div><!--/style-switcher--> 
<!--=== End Style Switcher ===-->   




    <div class="wrapper">
      <div class="header">
      <!-- "c:"는 URL 재작성(rewriting) 참조 : http://ultteky.egloos.com/10500310 -->
<!-- Navbar -->
      <div class="navbar navbar-default" role="navigation">

          <div class="navbar-header">
            <% if (user) { %>
            <a class="navbar-brand" href="/main">
              <img id="logo-header" src="/images/menubar/PageLogoWhite.png" alt="Logo">
            </a>
            <% } else { %>
            <a class="navbar-brand" href="/intro">
              <img id="logo-header" src="/images/menubar/PageLogoWhite.png" alt="Logo">
            </a>
            <% } %> 
          </div>

          <div class="menu">

            <div class="facebook-login">
              <% if (user) { %>
              <a href="/logout">
                <button class="btn-facebook">
                  <i class="fa fa-facebook"></i> Logout
                </button>
              </a>
              <div class="information">
                <p class="welcome"> Welcome<br> <%= user.name %>'s photomapper</p>
              </div>
              <div class="picture">
                <img src="http://graph.facebook.com/<%=user.id%>/picture">
              </div>
              <% } else { %>
              <a href="/auth/facebook">
                <button class="btn-facebook">
                  <i class="fa fa-facebook"></i> Login
                </button>
              </a>
              <% } %> 
            </div>

            <% if (user) { %>

            <!-- Setting -->
            <ul class="nav navbar-nav">
              <li id="setting">
                <a href="/setting">
                  <img src="/images/menubar/setting.png" alt="설정"> 
                </a>
              </li>
            </ul>
            <!-- End Setting -->

            <!-- statistics view -->
            <ul class="nav navbar-nav">
              <li id="statistics">
                <a href="/statistics">
                  <!-- <img src="/images/menubar/full_photo.png" alt="내 사진 보기"> -->
                  <i class="fa fa-bar-chart-o"></i>
                </a>
              </li>
            </ul>
            <!-- End statistics View -->

            <!-- photo view -->
            <ul class="nav navbar-nav">
              <li id="photoView">
                <a href="/all_photo_view" class="active">
                  <img src="/images/menubar/full_photo.png" alt="내 사진 보기">
                </a>
              </li>
            </ul>
            <!-- End Photo View -->


            <!-- Friend -->
            <ul class="nav navbar-nav">
              <li id="friend">
                <a href="/all_following_world_map">
                  <img src="/images/menubar/friend_map.png" alt="친구 지도 및 사진 보기">
                </a>
              </li>
            </ul>
            <!-- End Friend -->
            
            <% } %> 

          </div>
          <!-- End menu -->


        <!-- End Navbar -->
      </div>        

      <!-- header end -->
    </div>



<!--=== Content Part ===-->
<div id="onephoto"class="container content">   
  <br>

  <div class="headline"><h2 style="font-size:30px; color:#555; margin-top:10px;"><b><img src="http://graph.facebook.com/<%=user.id%>/picture"><b> <%=page_info.name%>의 국가별 사진보기</b></h2></div>

  <h2><b><%=page_info.nation_name%>&nbsp; <img src="/images/bigFlag/<%=page_info.nation_name%>.png"></h2>

  <div class="row">

    <% visit_nation_photo_lists.forEach(function(item, index) { %>
        <div class="col-md-4">
            <div class="view view-tenth">
              <img class="img-responsive" src="<%=item.img_src%>"/>
              <div class="mask">
                <h2><%=item.photo_date.toString().date("YYYY-MM-DD")%></h2>
                <p><%=item.photo_text%></p>
                <a class="thumbnail fancybox-button zoomer info" data-rel="fancybox-button" href="<%=item.img_src%>"><i class="fa fa-search-plus"></i></a>
              </div>
            </div>
        </div>
    <% }); %>

  </div><!--/row-->

  <br><br>

</div><!--/container-->
<!--=== End Content Part ===-->

<!--=== Footer ===-->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 md-margin-bottom-40">
        <!-- About -->
        <div class="headline"><h2><b>Photommaper 사용자 약관</b></h2></div>  
        <p class="margin-bottom-25 md-margin-bottom-40">PhotoMapper is ~</p>    
        <!-- End About -->
      </div><!--/col-md-4-->  

      <div class="col-md-4">
        <!-- Contact Us -->
        <div class="headline"><h2><b>주소 및 연락처</b></h2></div> 
        <address class="md-margin-bottom-40">
          잠실 향군타워 5층, sGen Club <br />
          서울특별시 송파구 신천동 7-29 <br />
          Phone: xxx xxx xxxx <br />
          Fax: xxx xxx xxxx <br />
        </address>
        <!-- End Contact Us -->
      </div><!--/col-md-4-->

      <div class="col-md-4">
       <!-- Social Links -->  
       <div class="headline"><h2>링크</h2></div> 
       <ul class="social-icons">
        <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
        <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
        <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
        <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
        <li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
        <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
        <li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li>
      </ul>
      <!-- End Social Links -->
    </div>
  </div>
</div> 
</div><!--/footer-->
<!--=== End Footer ===-->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-6">  
        <a href="/main">
          <img class="pull-right" id="logo-footer" src="/images/menubar/PageLogoWhite.png" alt="Logo">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">                     
        <p>
          2014 &copy; PhotoMapper. ALL Rights Reserved.
        </p>
      </div>
    </div>
  </div> 
</div><!--/copyright--> 
</div> <!-- wrapper end -->

<!-- JS Global Compulsory -->           
<script type="text/javascript" src="/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/assets/plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="/assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
<script type="text/javascript" src="assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
<!-- JS Page Level -->           
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/pages/index.js"></script>
<script type="text/javascript" src="/assets/plugins/counter/waypoints.min.js"></script>
<script type="text/javascript" src="/assets/plugins/counter/jquery.counterup.min.js"></script>   
<script type="text/javascript">
  jQuery(document).ready(function() {
    App.init();
    App.initSliders();
    App.initFancybox();
    Index.initParallaxSlider();  
  });
</script> 

</body>

</html>